<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Facility</title>

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style type="text/css">
      #us{
        float: right;
        margin-right: 20px;
        margin-top: 10px;
      }
      #us h3{
        margin: 0 0 0 0;
      }
      .ps{
        width: 60%;
        margin-top: 20px;
        margin-left: 20%
      }
      #icon{
        float: right;
        margin-top: -15px;
      }
      #signout{
        width: 100px;
        height: 20px;
      }
      #signout a{
        padding: 2px 0px 2px 20px;
      }
    </style>
  </head>
<body>

  {% import 'components/navbar-admin.html' as navbar %}
  {{navbar.signout()}}
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h3 class="flashes" align="center" style="color:#337ab7">{{ message }}</h3>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="ps">
  <div><h3 class="panel-title"> facility_id | sports | operating_hours | aircon | indoor | court_size </h3></div>
  {% for i in facilities %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div><h3 class="panel-title">{{i.facility_id}} | {{i.sports}} | {{i.operating_hours}} | {{i.aircon}} | {{i.indoor}} | {{i.court_size}} </h3></div>
    </div>
  </div>
  {% endfor %}
  </div>    
</body>
</html>