<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maintenance Fee</title>

    <link href="{{url_for('static', filename='/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style type="text/css">
      #us{
        float: right;
        margin-right: 20px;
        margin-top: 10px;
      }
      #us h3{
        margin: 0 0 0 0;
      }
      .ps{
        width: 60%;
        margin-top: 20px;
        margin-left: 20%
      }
      #icon{
        float: right;
        margin-top: -15px;
      }
      #signout{
        width: 100px;
        height: 20px;
      }
      #signout a{
        padding: 2px 0px 2px 20px;
      }
      td{
        padding: 8px;
      }
    </style>
  </head>
  <body>
    {% import 'components/navbar-admin.html' as navbar %}
    {{navbar.signout()}}
    <h1>Days without booking</h1>
    <div class="ps">
      <table>
        <th>
          <tr>
            <td>sports</td>
            <td>email</td>
            <td>days_without_booking</td>
          </tr>
        </th>
        <tbody>
          {% for i in data %}
          <tr>
            <td>{{i.sports}}</td>
            <td>{{i.email}}</td>
            <td>{{i.days_without_booking}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>    
  </body>
</html>