{% macro signin() -%}
  <div class="row">
    <div class="col-md-10"><h1>MyBookie ADMIN APP</h1></div>
    <div class="col-md-2">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="admin/signup">Sign Up</a></li>
          <li role="presentation" id="si"><a href="admin/signin">Sign In</a></li>
        </ul>
    </div>
  </div>
{%- endmacro %}

{% macro signout() -%}
  <div id="us">
    <ul class="nav nav-pills">
      <li><h3>{{ session['current_user']}} &nbsp</h3></li>
      <li role="presentation" class="active" id="signout">
        <a href="/logout">Sign Out</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/admin/holiday/add">Add Holiday</a></li>
      <li role="presentation"><a href="/admin/holiday">Holiday</a></li>
      <li role="presentation"><a href="/admin/facility">Facility</a></li>
      <li role="presentation"><a href="/admin/fee_schedule">Fee Schedule</a></li>
      <li role="presentation"><a href="/admin/maintenance">Maintenance</a></li>
      <li role="presentation"><a href="/admin/booking_fee">Booking Fee</a></li>
      <li role="presentation"><a href="/admin/analytics/1">Analytic 1</a></li>
      <li role="presentation"><a href="/admin/analytics/2">Analytic 2</a></li>
      <li role="presentation"><a href="/admin/analytics/3">Analytic 3</a></li>
    </uladmin>
  </div>
{%- endmacro %}